@charset "utf-8";
@import "normalize";

$darkgray: #8B8787;
$gray: #A7A4A4;
$black: #413F3E;

body {
  position: relative;
  background: #E4E4E4;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  text-align: right;
  color: $black;
}

.container {
  position: absolute;
  left: 20%;
  width: 60%;

  padding: 50px 0;
}

h1 {
  color: $darkgray;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  margin: 0;
}

h2 {
  margin-top: 50px;
  letter-spacing: 8px;
}

a {
  color: #77B6FE;
  text-decoration: none;
}

p {
  text-indent: 5%;
  text-align: justify;
  line-height: 1.75;
}

blockquote {
  border-left: 3px solid $gray;
  padding-left: 10px;

  font-style: italic;
  font-size: 0.8em;
  color: $gray;
}

footer {
  position: fixed;
  bottom: 30px;
  right: 20%;
}

small {
  font-size: 0.5em;
  color: $gray;
}

ul.unstyled {
  list-style: none;
  padding: 0;
}

figure {
  text-align: center;
  margin: 70px 0;

  > img {
    width: 70%;
  }

  > .div {
    display: inline-block;
    width: 70%;
    text-align: right;

    > figcaption {
      @extend small;
    }
  }
}

.hidden {
  visibility: hidden;
}

.qed-box {
  display: inline-block;
  background-color: $black;
  width: 30px;
  height: 30px;
}

#profile-canvas {
  background-color: white;
}
