@charset "utf-8";
@import "normalize";
@import "colors";

body {
  position: relative;
  background-color: $base-blue;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  color: $black;
}

.container {
  position: absolute;
  left: 16%;
  width: 60%;
  background-color: white;

  padding: 50px 4%;

  border: 3px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

h1 {
  color: $black;
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.8em;
  font-weight: 700;
  margin: 0;
  text-align: right;
}

h2 {
  margin-top: 50px;
  letter-spacing: 8px;
  text-align: right;
}

a {
  color: $red;
  text-decoration: none;
}

p {
  text-indent: 5%;
  text-align: justify;
  line-height: 1.75;
}

blockquote {
  border-left: 3px solid $black;
  padding-left: 10px;

  font-style: italic;
  font-size: 0.75em;
  color: $black;
  opacity: 0.65;
}

footer {
  position: fixed;
  bottom: 30px;
  right: 20%;
}

small {
  font-size: 0.5em;
  color: $black;
}

ul {
  &.unstyled {
    list-style: none;
    padding: 0;
  }

  &.right-align-bullet {
    > li:after {
      padding-left: 5px;
      content: '◄';
    }
  }
}

figure {
  text-align: center;
  margin: 70px 0;

  > img {
    width: 70%;
  }

  > .div {
    display: inline-block;
    width: 70%;
    text-align: right;

    > figcaption {
      @extend small;
    }
  }
}

pre.highlight {
  font-size: 0.75em;
}

.hidden {
  visibility: hidden;
}

.qed-box {
  display: inline-block;
  background-color: $black;
  width: 30px;
  height: 30px;
}

.full-height {
  height: 85vh;
}

.right-align {
  text-align: right;
}
