#sidebar
  #profile
    = image_tag 'aaron_manaloto.png'

  #details
    aaron
    %ul.unstyled
      %li= link_to 'home', 'index.html', :class => 'sidebar-btn'
      %li= link_to 'github', 'http://github.com/aapomm', :class => 'sidebar-btn'
      %li= link_to 'about', 'author.html', :class => 'sidebar-btn'

