---
title: about the author
---

%div
  %canvas#profile-canvas{:width => 200, :height => 200}
%small Draw on my face!

%ul.unstyled
  %li full stack web developer
  %li believes that the meaning of life is to know the known unknowns.
  %li he wishes he has a way with words. but thinks that the disproportionate preeminence of the praxis of lexicon is arduous to corral.

= javascript_include_tag 'draw-canvas'
