---
title: about the author
---

.full-height
  %h1 aaron manaloto
  .right-align aaronpomanaloto@gmail.com

  %br

  %p Aaron is a full stack web developer currently stationed in <strong>Metro Manila, Philippines</strong>. He mainly develops and maintains <strong>Ruby on Rails</strong> applications but occasionally handles apps on the <strong>ExpressJS + ReactJS + Flux Architecture</strong> stack. He has a passion for computing and learning new technologies. He hopes to be the very best, that no one ever was.
