---
title: about the author
---

%h1 aaron manaloto

%div
  %canvas#profile-canvas{:width => 200, :height => 200}
%small Draw on my face!

%h2 Full Stack Web Developer
%ul.unstyled.right-align
  %li Immaculate in Ruby on Rails
  %li Stupefying Javascript
  %li Atomically precise CSS
  %li Exhilirating ReactJS skills
  %li Electrifying Flux Architecture control

%h2 Bio
%ul.unstyled.right-align
  %li Blood Type: O
  %li Zodiac Sign: Leo
  %li Year of the Rooster

%h2 Stats
%ul.unstyled.right-align
  %li Str: 75
  %li Charisma: 193
  %li Agility: 40
  %li Intelligence: 86
  %li Luck: 13

%h2 Personality
%ul.unstyled.right-align
  %li Overestimates skill
  %li Devoid of humor
  %li Lover of arts and philosophy

= javascript_include_tag 'draw-canvas'
