---
title: about the author
---

.full-height
  %h1 aaron manaloto
  .right-align aaronpomanaloto@gmail.com

  %h2 Full Stack Web Developer
  %ul.unstyled.right-align-bullet
    %li Ruby on Rails
    %li Javascript
    %li CSS
    %li ReactJS
