---
title: aaron's blog
---

%div.index
  %h1 Index

  %ul.unstyled
    - blog.articles.each do |article|
      %li
        = link_to article.title, article.url
        .div
          %small= article.date.strftime('%b %e %Y')

%footer
  = link_to 'about the author', 'author.html'
