---
title: aaron's blog
---

.full-height
  %h1 Home

  %ul.unstyled.right-align
    - blog.articles.each do |article|
      %li
        = link_to article.title, article.url, :class => 'no-underline'
        .div
          %small= article.date.strftime('%b %e %Y')
